x-default-volumes: &default-volumes
  volumes:
    #- ./:/app
    #- node-module:/app/node_module
    - ../arktools-volumes/bucket:/bucket

services:
  flask:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      args:
        PYTHON_VERSION: 3.12
        DEBIAN_RELEASE: bookworm
    image: arktools-flask-${WEB_ENV}-image
    container_name: arktools-flask-${WEB_ENV}-container

    environment:
      - FLASK_APP=app
      - WEB_ENV=${WEB_ENV}
    volumes:
      - .:/code
    #  - ../arktools-volumes/bucket:/bucket
    #command: /srv/start