# docker compose
# WEB_ENV: dev|prod
WEB_ENV=dev
DOCKER_NAME=arktools
DOCKER_PYTHON_VERSION=3.11
DOCKER_DEBIAN_RELEASE=bookworm
DOCKER_POSTGRES_VERSION=15
POSTGRES_HOST=myhost
POSTGRES_PORT=myport
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=ark
SECRET_KEY=mysecret

